# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
#
# NOTE: This workflow is overkill for most R packages and
# check-standard.yaml is likely a better choice.
# usethis::use_github_action("check-standard") will install it.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # runs tests every day at 1am EST
    - cron:  '0 5 * * *'

name: GH-R-CMD-check

jobs:
  GH-R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04,   r: 'release'}
          - {os: windows-latest, r: 'release'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_COMPILE_AND_INSTALL_PACKAGES: 'always'
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Update to get updated PPA
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Install devel versions
        run: |
          try(pak::pkg_install("tidymodels/baguette"))
          try(pak::pkg_install("tidymodels/censored"))
          try(pak::pkg_install("tidymodels/dials"))
          try(pak::pkg_install("tidymodels/discrim"))
          try(pak::pkg_install("tidymodels/hardhat"))
          try(pak::pkg_install("tidymodels/modeldata"))
          try(pak::pkg_install("tidymodels/multilevelmod"))
          try(pak::pkg_install("tidymodels/parsnip#937"))
          try(pak::pkg_install("tidymodels/plsmod"))
          try(pak::pkg_install("tidymodels/poissonreg"))
          try(pak::pkg_install("tidymodels/recipes"))
          try(pak::pkg_install("tidymodels/rsample"))
          try(pak::pkg_install("tidymodels/rules"))
          try(pak::pkg_install("tidymodels/spatialsample"))
          try(pak::pkg_install("tidymodels/stacks"))
          try(pak::pkg_install("tidymodels/themis"))
          try(pak::pkg_install("tidymodels/tidymodels"))
          try(pak::pkg_install("tidymodels/tune"))
          try(pak::pkg_install("tidymodels/workflows"))
          try(pak::pkg_install("tidymodels/yardstick"))
          try(pak::pkg_install("tidymodels/bonsai"))
          try(pak::pkg_install("tidymodels/censored"))
          try(pak::pkg_install("business-science/modeltime"))
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2

      - name: Notify slack fail
        if: failure() && github.event_name == 'schedule'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v2
        with:
          channel_id: C03D2NLG47N
          status: FAILED
          color: danger
